/* file_report.css */

body {
    background-color: #d9e6f2;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Sticky Navbar */
.navbar {
    position: sticky;
    top: 0;
    background-color: #333;
    padding: 10px 20px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    box-sizing: border-box;
    z-index: 1000;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar ul li {
    margin-left: 20px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 16px;
}

.navbar ul li a:hover {
    background-color: #555;
    border-radius: 4px;
}

.report-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 400px;
    text-align: center;
}

.logo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.report-container h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.search-group {
    margin-bottom: 30px;
}

/* Style for the search input and button container */
.search-bar-container {
    margin-bottom: 20px;
}

.search-bar-container label {
    display: block;
    margin-bottom: 5px;
}

.search-input-group {
    display: flex;
    align-items: center;
    gap: 10px; /* Space between input and button */
}

.search-input-group input[type="text"] {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    background-color: #fafafa;
    outline: none;
}

.search-input-group button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    background-color: #608BC1;
    color: white;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-input-group button:hover {
    background-color: #133E87;
}

.form-group label {
    display: block;
    font-weight: bold;
    color: #555;
    margin-bottom: 5px;
}

.form-group select,
.form-group input[type="date"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fafafa;
    margin-top: 5px;
    box-sizing: border-box;
}

button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #608BC1;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #133E87;
}
