{% extends "main.html" %}
{% block content %}

<div class="container mt-5">
    <h1 class="text-center">ADD VIOLATION</h1>
    <div class="section-title mt-4 mb-2">
        <h4>Violation Details</h4>
        <hr>
    </div>

    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" name="name">
    </div>

    <div class="form-group">
        <label>Type:</label><br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="major" name="type" value="major">
            <label class="form-check-label" for="major">MAJOR</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="minor" name="type" value="minor">
            <label class="form-check-label" for="minor">MINOR</label>
        </div>
    </div>

    <div class="section-title mt-4 mb-2">
        <h4>Details</h4>
        <hr>
    </div>

    <div class="form-group">
        <label for="description">Description:</label>
        <textarea class="form-control" id="description" name="description" rows="4"></textarea>
    </div>

    <div class="form-group">
        <label for="guidelines">Guidelines:</label>
        <textarea class="form-control" id="guidelines" name="guidelines" rows="4"></textarea>
    </div>

    <div class="button-group mt-4">
        <a href="{% url 'ModifyViolation' %}" class="btn btn-primary">CONFIRM</a>
        <a href="{% url 'ModifyViolation' %}" class="btn btn-secondary">CANCEL</a>
    </div>
</div>


</body>
{% endblock content %}