{% extends "main.html" %}
{% block content %}
<body>
    <div class="container mt-5">
        <div class="text-center mb-4">
            <h1 class="display-4">TYPE VIOLATION - VIOLATION NAME</h1>
        </div>
        <hr>
        <div class="description mb-4">
            <p>Lorem ipsum dolor sit amet. Ut eaque nobis qui voluptatem quibusdam aut sapiente autem in veritatis rerum sit modi labore. Ut architecto quisquam non voluptates pariatur et enim illo et dolores itaque eum eius adipisci aut nulla ratione.</p>
        </div>
        <hr>
        <div class="guidelines-title mb-2">
            <h2>GUIDELINES</h2>
        </div>
        <ol class="guidelines">
            <li>Lorem ipsum dolor sit amet. Ut eaque nobis qui voluptatem quibusdam aut sapiente autem in veritatis rerum sit modi labore. Ut architecto quisquam non voluptates pariatur et enim illo et dolores itaque eum eius adipisci aut nulla ratione.</li>
            <li>Lorem ipsum dolor sit amet. Ut eaque nobis qui voluptatem quibusdam aut sapiente autem in veritatis rerum sit modi labore. Ut architecto quisquam non voluptates pariatur et enim illo et dolores itaque eum eius adipisci aut nulla ratione.</li>
            <li>Lorem ipsum dolor sit amet. Ut eaque nobis qui voluptatem quibusdam aut sapiente autem in veritatis rerum sit modi labore. Ut architecto quisquam non voluptates pariatur et enim illo et dolores itaque eum eius adipisci aut nulla ratione.</li>
        </ol>
        <div class="text-center">
            <a href="{% url 'ModifyViolation' %}" class="btn btn-primary">BACK</a>
        </div>
    </div>

    <!-- Bootstrap JS and dependencies (optional) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
{% endblock content %}