{% extends "main.html" %}

{% block content %}
<section class="Stafflist my-4">
    <h2 class="h5 mb-3"> Staff List</h2>
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead class="table-light">
                <tr>
                    <th scope="col">Firstname</th>
                    <th scope="col">Surname</th>
                    <th scope="col">ID Number</th>
                    <th scope="col">Email Address</th>
                    <th scope="col">Position</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>James</td>
                    <td>Rumlow</td>
                    <td>TUPC-21-0402</td>
                    <td>Guard</td>
                    <td>Active</td>
                    <td>
                        <class="btn btn-primary value ='edit'>Edit</button>
                        <class="btn btn-primary value ='delete'>Delete</button>
                    </td>
                </tr>
                <!-- Additional rows as needed -->
            </tbody>
        </table>
    </div>
  </section>

{% endblock content %}