  <!-- Warning Section -->
{% load static %}
<section class="mb-4">
        <h2 class="h5">Warning:</h2>
        <div class="d-flex align-items-center border rounded p-3 mt-2">
            <a href="#" class="me-3">
                <img src="{% static 'adminmod/images/envelope.png' %}" alt="Warning Icon" style="height: 30px; width: 30px;">
            </a>
            <div>
                <strong>Warning</strong>
                <p class="mb-0">You are currently committing your NTH violation. If you receive another violation, you will be subject to a sanction.</p>
            </div>
        </div>
</section>