.navbar .nav-link {
  color: black; /* Default link color */
  font-weight: bold;
}

.navbar .nav-link:hover {
  color: #0056b3; /* Hover color */
}

.navbar .nav-link.text-danger {
  color: #dc3545 !important; /* Sign Out color */

  .navbar-nav .nav-item .nav-link {
    text-align: start; /* Aligns text to the start in the dropdown */
}
}
