<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset_password.css' %}">
</head>
<body>
    <div class="container">
        <h2>Reset Your Password</h2>
        <p>Forgot your password? No problem. Please enter your registered email address below, and we will send you a secure link to reset your password.</p>

        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_email">Email:</label>
                {{ form.email }}
            </div>
            <input type="submit" name="Send Email" value="Send Email">
        </form>
    </div>
</body>
</html>
