{% extends "main.html" %}
{% block content %}
{% load static %}

<body>
    <div class="signup-container text-center">
        <img src="{% static 'adminmod/images/logo.png' %}" alt="Logo" class="mb-3" />
        <h2>SIGN UP</h2>
        <hr/>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary mt-2">SIGN UP</button>
        </form>
    </div>


</body>
{% endblock content %}
